body {
  background-color:oldlace;
}

h1 {
  color: navy;
  font-size:300%;
}

div{
    
    text-align: center;
    width: max-content;
    margin:auto;
}

button
{
    padding: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}

select
{
    width: 40%;
}

table
{
    border: solid black 3px;
    display: inline-table;
    border-collapse: collapse;
}

td,th{
    border:black solid 1px;
    border-collapse: collapse;
}

